@media (min-width: 1px) and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0; } }
@media (min-width: 769px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start; } }

.nav__item, .nav__item--current {
  margin: 0.3125em 0.625em; }

.nav__item a, .nav__item--current a {
  color: #6c6c6c;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  padding: 0.5555555556em;
  border-bottom: 1px solid transparent; }

.nav__item a:hover, .nav__item--current a {
  font-weight: 400;
  letter-spacing: 0.68px;
  color: #fff;
  border-radius: 5px;
  background-color: #58E2C2;
  border-color: #58E2C2; }

.headline--primary {
  color: #58E2C2;
  font-weight: 700;
  font-size: 2.625em;
  line-height: 1.0952380952;
  margin-top: 0; }

.headline--secondary {
  color: #575757;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0.625em; }

.form__btn, [class^="btn--"] {
  padding: 10px 30px;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  font-size: 0.875em;
  font-weight: 400;
  display: block; }
  .form__btn:hover, [class^="btn--"]:hover {
    opacity: .75; }
  .form__btn:active, [class^="btn--"]:active {
    opacity: initial; }

.theme__colors, .theme__colors--default, .theme__colors--success, .theme__colors--error, .theme__colors--warning, .theme__colors--info {
  margin: 0 auto;
  padding: 10px 30px;
  border: 0;
  color: #fff;
  font-size: 0.875em;
  font-weight: 400; }
  @media (min-width: 769px) {
    .theme__colors, .theme__colors--default, .theme__colors--success, .theme__colors--error, .theme__colors--warning, .theme__colors--info {
      border-radius: 0.4em; } }

.grid__row {
  margin: 20px 0; }

.img--logo, .img--avatar, .img--frame {
  max-width: 100%; }

.form {
  display: block;
  width: 100%;
  text-align: center; }

.form__input {
  font-size: 1.125em;
  margin-bottom: 1.1111111111em;
  color: black;
  font-weight: 300;
  display: block;
  padding: 15px 0;
  width: 100%;
  outline: 0;
  border: 0; }

.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p {
  color: #525559;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0 0 1.6666666667em;
  font-weight: 300;
  line-height: 1.5; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.blockquote {
  margin: 0.4166666667em 0;
  padding: 10px 10px 10px 15px;
  border-left: 0.4166666667em solid #58E2C2;
  font-size: 1.125em;
  color: #525559;
  font-weight: 700;
  font-style: italic;
  font-size: 1.125em;
  max-width: 500px; }

.link {
  color: #51DEFD;
  text-decoration: none;
  font-weight: 400; }

.centered, .img--frame {
  text-align: center;
  margin: auto; }

.container {
  max-width: 90%;
  margin: 0 auto 100px; }
  @media (min-width: 769px) {
    .container {
      width: 80%; } }

@media (min-width: 769px) {
  .grid__row {
    display: flex;
    flex-direction: row;
    align-items: stretch; } }

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

@media (min-width: 1px) and (max-width: 768px) {
  [class*="grid__col--"] {
    margin-top: 0.75em;
    margin-bottom: 0.75em; } }
@media (min-width: 769px) {
  [class*="grid__col--"] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px; }
    [class*="grid__col--"] + [class*="grid__col--"] {
      margin-left: 2%; } }

.theme__colors.grid__col--3 {
  background-color: #CD89E7; }
.theme__colors.grid__col--4 {
  background-color: #DFB380; }
.theme__colors.grid__col--5 {
  background-color: #9FE89A; }
.theme__colors.grid__col--6 {
  background-color: #8490D9; }
.theme__colors.grid__col--7 {
  background-color: #D78570; }
.theme__colors.grid__col--8 {
  background-color: #7ABFAB; }
.theme__colors.grid__col--12 {
  background-color: #81CE7D; }
.theme__colors--default {
  background-color: #51DEFD; }
.theme__colors--success {
  background-color: #7AC490; }
.theme__colors--error {
  background-color: #e67478; }
.theme__colors--warning {
  background-color: #ff784f; }
.theme__colors--info {
  background-color: #9279c3; }

.theme__poly.grid__col--3 {
  background-color: #CD89E7; }
.theme__poly.grid__col--4 {
  background-color: #DFB380; }
.theme__poly.grid__col--5 {
  background-color: #9FE89A; }
.theme__poly.grid__col--6 {
  background-color: #8490D9; }
.theme__poly.grid__col--7 {
  background-color: #D78570; }
.theme__poly.grid__col--8 {
  background-color: #7ABFAB; }
.theme__poly.grid__col--12 {
  background-color: #81CE7D; }

.img--logo {
  margin: auto; }
.img--avatar {
  display: block;
  margin: 0 auto; }
.img--frame {
  display: block; }

[class*="grid__col--"] > .link {
  display: block;
  max-width: 100%;
  text-align: center; }

.form__input {
  border-bottom: solid 10px #58E2C2; }
.form__btn {
  background: #58E2C2; }
.form img {
  padding: 10% 20%; }

.btn--default {
  background-color: #51DEFD; }
.btn--success {
  background-color: #7AC490; }
.btn--error {
  background-color: #e67478; }
.btn--warning {
  background-color: #ff784f; }
.btn--info {
  background-color: #9279c3; }

[class^="btn--"] {
  text-align: center;
  margin-bottom: 1.4285714286em; }
  @media (min-width: 1px) and (max-width: 768px) {
    [class^="btn--"] {
      width: 100%; } }
  @media (min-width: 769px) {
    [class^="btn--"] {
      width: auto;
      display: inline-block; }
      [class^="btn--"] + [class^="btn--"] {
        margin-left: 20px; } }

.grid__col--9 .centered, .grid__col--9 .img--frame {
  margin-right: 0; }

/*# sourceMappingURL=styles.css.map */
